header {
    padding: 15px 0;
    background: {
        color: rgba(0, 0, 0, 0.7);
    }
}

a.nav-link {
    color: white;
}

.cover-image {
    width: 100%;
    height: 569px;
    background: {
        image: url("/images/banner10.jpg");
        size: cover;
    }
    position: relative;
}

.trans {
    &-text {
        position: relative;
        top: 100px;

        h2 {
            font-size: 48pt;
        }

        h3 {
            font-size: 32pt;
        }
    }
    &-btn {
        position: relative;
        top: 350px;
    }
}

.btn-modify {
    border: {
        style: solid;
        color: white;
    }
}

.text-status {
    color: red;
    position: relative;
    top: 10px;
    margin: {
        bottom: 0;
    }
    text-align: center;
}

/* Absent Feature */
.form-absent {
    max-width: 680px;
    margin: 0px auto;
    background: {
        color: rgba(0, 0, 0, 0.4);
    }
    border: {
        style: solid;
        width: 2px;
        color: black;
        radius: 7px;
    }
    padding: 10px 50px;
}

.container.modify {
    padding-top: 30px;
}

input.timepicker {
    text-align: center;
}

#day-absent {
    text-align: center;
    background-color: #fff;
    &:hover {
        cursor: pointer;
    }
}

.row.trans-table {
    margin-top: 15px;
}
