header {
    padding: 15px 0;
    background: {
        color: rgba(0, 0, 0, 0.7);
    }
}

a.nav-link {
    color: white;
}

.image {
    width: 100%;
    height: 569px;
    background: {
        image: url("/images/banner10.jpg");
        size: cover;
    }
    position: relative;
}

.trans {
    &-text {
        position: relative;
        top: 100px;

        h2 {
            font-size: 48pt;
        }

        h3 {
            font-size: 32pt;
        }
    }
    &-btn {
        position: relative;
        top: 350px;
    }
}

.btn-modify {
    border: {
        style: solid;
        color: white;
    }
}

.text-status {
    color: red;
    position: relative;
    top: 10px;
    margin: {
        bottom: 0;
    }
}
